In [20]:
from openpyxl import *

In [2]:
wb = load_workbook("exam.xlsx")

In [3]:
wb.sheetnames

['Sheet1']

In [4]:
ws = wb.active

In [5]:
ws

In [17]:
g = ws.rows
cells = next(g)

In [11]:
cells

(<Cell 'Sheet1'.A1>,
 <Cell 'Sheet1'.B1>,
 <Cell 'Sheet1'.C1>,
 <Cell 'Sheet1'.D1>)

In [8]:
keys = []

for cell in cells:
    keys.append(cell.value)
    
keys

['name', 'math', 'literature', 'science']

In [15]:
for row in g:
    dic = {a : b.value for a, b in zip(keys, row)}

(<Cell 'Sheet1'.A2>, <Cell 'Sheet1'.B2>, <Cell 'Sheet1'.C2>, <Cell 'Sheet1'.D2>)
(<Cell 'Sheet1'.A3>, <Cell 'Sheet1'.B3>, <Cell 'Sheet1'.C3>, <Cell 'Sheet1'.D3>)
(<Cell 'Sheet1'.A4>, <Cell 'Sheet1'.B4>, <Cell 'Sheet1'.C4>, <Cell 'Sheet1'.D4>)
(<Cell 'Sheet1'.A5>, <Cell 'Sheet1'.B5>, <Cell 'Sheet1'.C5>, <Cell 'Sheet1'.D5>)
(<Cell 'Sheet1'.A6>, <Cell 'Sheet1'.B6>, <Cell 'Sheet1'.C6>, <Cell 'Sheet1'.D6>)
(<Cell 'Sheet1'.A7>, <Cell 'Sheet1'.B7>, <Cell 'Sheet1'.C7>, <Cell 'Sheet1'.D7>)
(<Cell 'Sheet1'.A8>, <Cell 'Sheet1'.B8>, <Cell 'Sheet1'.C8>, <Cell 'Sheet1'.D8>)
(<Cell 'Sheet1'.A9>, <Cell 'Sheet1'.B9>, <Cell 'Sheet1'.C9>, <Cell 'Sheet1'.D9>)
(<Cell 'Sheet1'.A10>, <Cell 'Sheet1'.B10>, <Cell 'Sheet1'.C10>, <Cell 'Sheet1'.D10>)
(<Cell 'Sheet1'.A11>, <Cell 'Sheet1'.B11>, <Cell 'Sheet1'.C11>, <Cell 'Sheet1'.D11>)

In [18]:
student_data = []
for row in g:
    dic = {a : b.value for a, b in zip(keys, row)}
    student_data.append(dic)
    
student_data

[{'name': 'greg', 'math': 95.0, 'literature': 65.0, 'science': 75.0},
 {'name': 'john', 'math': 25.0, 'literature': 30.0, 'science': 55.0},
 {'name': 'yang', 'math': 50.0, 'literature': 45.0, 'science': 40.0},
 {'name': 'timothy', 'math': 15.0, 'literature': 65.0, 'science': 90.0},
 {'name': 'melisa', 'math': 100.0, 'literature': 100.0, 'science': 100.0},
 {'name': 'thor', 'math': 10.0, 'literature': 15.0, 'science': 20.0},
 {'name': 'elen', 'math': 25.0, 'literature': 50.0, 'science': 100.0},
 {'name': 'mark', 'math': 80.0, 'literature': 75.0, 'science': 80.0},
 {'name': 'esteve', 'math': 95.0, 'literature': 100.0, 'science': 95.0},
 {'name': 'anna', 'math': 20.0, 'literature': 20.0, 'science': 20.0}]

In [22]:
import openpyxl
import math

In [39]:
raw_data = {}
wb = openpyxl.load_workbook("class_2_3.xlsx")
ws = wb.active
g = ws.rows

In [24]:
for i in g:
    print(i)

(<Cell 'Sheet1'.A1>, <Cell 'Sheet1'.B1>)
(<Cell 'Sheet1'.A2>, <Cell 'Sheet1'.B2>)
(<Cell 'Sheet1'.A3>, <Cell 'Sheet1'.B3>)
(<Cell 'Sheet1'.A4>, <Cell 'Sheet1'.B4>)
(<Cell 'Sheet1'.A5>, <Cell 'Sheet1'.B5>)
(<Cell 'Sheet1'.A6>, <Cell 'Sheet1'.B6>)
(<Cell 'Sheet1'.A7>, <Cell 'Sheet1'.B7>)
(<Cell 'Sheet1'.A8>, <Cell 'Sheet1'.B8>)
(<Cell 'Sheet1'.A9>, <Cell 'Sheet1'.B9>)
(<Cell 'Sheet1'.A10>, <Cell 'Sheet1'.B10>)

In [41]:
for name, score in g:
    raw_data[name.value] = score.value

In [42]:
raw_data

{'john': 25.0,
 'yang': 50.0,
 'timothy': 15.0,
 'melisa': 100.0,
 'thor': 10.0,
 'elen': 25.0,
 'mark': 80.0,
 'steve': 95.0,
 'anna': 20.0}